#title {
  text-align: center;

}

.container {
  padding-top: 150px;
  display: flex;
  justify-content: space-evenly;
}

.choice {
  height: 175px;
  width: 150px;
  cursor: crosshair;
  border-radius: 9px;
}

.us-container {
  padding-top: 150px;
  display: flex;
  justify-content: space-evenly;
}

.wrapper {
  height: 150px;
  width: 150px;
}